p{
  background-color: rgb(255, 182, 193);
  font-family: Verdana, "DejaVu Sans", sans-serif;  
}
.number-2{
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.number-3{
    font-size: 24px;
}

.number-4{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: 700;
}
