.I{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.II{
    background-color: rgb(255, 255, 0);
}

.I, 
.II{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}